In [1]:
import os

import pandas as pd 
import numpy as np 

source_data_path = 'D:\\data\\dataFile\\ml-latest-small\\ratings.csv'

In [3]:
# 加载数据
data_type = {"userId": np.int64, "movieId":np.int64, "rating": np.float32}
ratings_data = pd.read_csv(source_data_path, dtype=data_type, usecols=range(3))
ratings_data

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [5]:
# 构建透视表
ratings_matrix = ratings_data.pivot_table(index = ['userId'], columns=['movieId'], values=['rating'])
ratings_matrix

        rating                                                                 \
movieId 1      2      3      4      5      6      7      8      9      10
userId
1          4.0    NaN    4.0    NaN    NaN    4.0    NaN    NaN    NaN    NaN
2          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5          4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
606        2.5    NaN    NaN    NaN    NaN    NaN    2.5    NaN    NaN    NaN
607        4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
608        2.5    2.0    2.0    NaN    NaN    NaN    NaN    NaN    NaN    4.0
609        3.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    4.0
610        5.0    NaN    NaN    NaN    NaN    5.0    NaN    NaN    NaN    NaN

         ...                                                                 \
movieId  ... 193565 193567 193571 193573 193579 193581 193583 193585 193587
userId   ...
1        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5        ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
606      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
607      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
608      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
609      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
610      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN


movieId 193609
userId
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
...        ...
606        NaN
607        NaN
608        NaN
609        NaN
610        NaN

[610 rows x 9724 columns]

In [6]:
similarity = ratings_matrix.T.corr()
similarity

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,NaN,0.079819,0.207983,0.268749,-0.291636,-0.118773,0.469668,0.918559,-0.037987,...,0.091574,0.000000,-0.061503,-0.407556,-0.164871,0.066378,0.174557,0.268070,-0.175412,-0.032086
2,NaN,1.000000,NaN,NaN,NaN,NaN,-0.991241,NaN,NaN,0.037796,...,-0.387347,NaN,-1.000000,NaN,NaN,0.583333,NaN,-0.125000,NaN,0.623288
3,0.079819,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.433200,NaN,NaN,-0.791334,-0.333333,-0.395092,NaN,0.569562
4,0.207983,NaN,NaN,1.000000,-0.336525,0.148498,0.542861,0.117851,NaN,0.485794,...,-0.222113,0.396641,0.090090,-0.080296,0.400124,0.144603,0.116518,-0.170501,-0.277350,-0.043786
5,0.268749,NaN,NaN,-0.336525,1.000000,0.043166,0.158114,0.028347,NaN,-0.777714,...,0.000000,0.153303,0.234743,0.067791,-0.364156,0.244321,0.231080,-0.020546,0.384111,0.040582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.066378,0.583333,-0.791334,0.144603,0.244321,-0.049192,0.137771,0.253582,0.572700,-0.382955,...,0.290490,0.140613,0.318473,0.682949,0.167062,1.000000,0.114191,0.240842,0.533002,0.389185
607,0.174557,NaN,-0.333333,0.116518,0.231080,0.255639,0.402792,0.251280,NaN,-0.241121,...,0.698241,0.217210,0.192787,0.035806,-0.299641,0.114191,1.000000,0.200814,0.190117,0.106605
608,0.268070,-0.125000,-0.395092,-0.170501,-0.020546,0.125428,0.008081,0.434423,0.336625,-0.571043,...,0.473967,0.297646,0.086423,0.053986,-0.075673,0.240842,0.200814,1.000000,0.488929,0.147606
609,-0.175412,NaN,NaN,-0.277350,0.384111,0.193649,0.420288,0.141860,NaN,NaN,...,1.000000,0.188512,0.343303,0.641624,-0.550000,0.533002,0.190117,0.488929,1.000000,-0.521773
610,-0.032086,0.623288,0.569562,-0.043786,0.040582,0.115580,0.341233,0.167931,0.615638,-0.205081,...,0.007025,0.049263,0.270908,0.310611,0.462274,0.389185,0.106605,0.147606,-0.521773,1.000000

In [10]:
# 预测用户 1
sim_usr_1 = similarity[1].drop([1]).dropna()
sim_usr_1

userId
3      0.079819
4      0.207983
5      0.268749
6     -0.291636
7     -0.118773
         ...
606    0.066378
607    0.174557
608    0.268070
609   -0.175412
610   -0.032086
Name: 1, Length: 568, dtype: float64

In [11]:
# 正相关的用户
sim_usr_1 = sim_usr_1.where(sim_usr_1>0).dropna()
sim_usr_1

userId
3      0.079819
4      0.207983
5      0.268749
8      0.469668
9      0.918559
         ...
600    0.253649
601    0.091574
606    0.066378
607    0.174557
608    0.268070
Name: 1, Length: 377, dtype: float64

In [69]:
# 找到， 评价过 1 并且 正相关的用户
ids = ratings_matrix.iloc[0:,0:1].dropna().index&sim_usr_1.index
ids

Int64Index([  5,  15,  17,  18,  19,  21,  27,  31,  32,  33,
            ...
            580, 590, 596, 597, 599, 600, 601, 606, 607, 608],
           dtype='int64', name='userId', length=157)

In [73]:
final_similar_user = sim_usr_1.loc[list(ids)]
final_similar_user

userId
5      0.268749
15     0.232636
17     0.037901
18     0.205371
19     0.325180
         ...
600    0.253649
601    0.091574
606    0.066378
607    0.174557
608    0.268070
Name: 1, Length: 157, dtype: float64

In [76]:
# 计算对物品 1 评分
sum_up = 0
sum_down = 0

for sim_uid, sim in final_similar_user.iteritems():
    sim_rate = ratings_matrix.loc[sim_uid].dropna()
    item = sim_rate[1]
    sum_up += sim * item
    sum_down += sim

result = sum_up / sum_down
result

3.464939280842057